.chat-container {
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.message-input-container {
    width: 100%;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.message-input-container .disabled {
    background-color: #efefef4d;
    color: #1010104d;
    border-color: #efefef4d;
    cursor: auto;
}

.message-input-field {
    padding: 10px;
    border: none;
    display: block;
    resize: none;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.message-input-field:focus {
    outline: none;
}

.message-input-button {
    background: none;
    border: none;
    cursor: pointer;
}

.input-with-icons {
    display: flex;
    justify-content: end;
    padding: 2px 10px;
}

.file-upload-button {
    background: none;
    border: none;
    cursor: pointer;
}

.file-preview-container {
    position: relative;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 200px;
    margin: 10px;
}

.remove-file-button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff0000d6;
    border: 1px solid #e0e0e0;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-preview svg {
    color: #fff;
    margin-right: 10px;
    background: #007bff;
    padding: 10px;
    border-radius: 5px;
}

.remove-file-button svg {
    color: #fff;
}

.file-preview-image {
    max-width: 100%;
    border-radius: 5px;
}

.file-name-preview {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #000;
}

.chat-bubble {
    max-width: 75%;
    margin-bottom: 10px;
    padding: 0px 10px 0px;
    border-radius: 12px;
    word-wrap: break-word;
}

.user .markdown-content a {
    color: #fff;
    text-decoration: underline;
}

.user .markdown-content a:hover {
    color: #212427;
}

.markdown-content code {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffffda;
    padding: 2px 4px;
    border-radius: 4px;
}

.empty-chat {
    margin: 0 auto;
}

.actionBtnContainer {
    position: relative;
}

.dotsButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.dotsButton:hover {
    background: #cccccc1f;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownMenu {
    position: absolute;
    background-color: white;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdownItem {
    padding: 8px 12px;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #f1f1f1;
}

.markdown-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

.markdown-content th, .markdown-content td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

.markdown-content th {
    background-color: #007bff;
    color: white;
}

.markdown-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

.markdown-content tr:hover {
    background-color: #ddd;
}
